<h2>Add media</h2>
<hr width="30%">  <hr width="30%">
<div class="container">
<form action="/upload" method="post" enctype="multipart/form-data">
	<label>Назва</label><br>
	<input type="text" name="title" />
	<label>Виконавець</label><br>
	<input type="text" name="artist" />
	<label>Файл</label><br>
	<input type="file" class="btn btn-small" name="filedata" />
	<br><br>
	<button type="submit" class="btn">Add</button>
</form>
</div>
